<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<article class="ud-content ud-content--textmedia">
    <f:if condition="{data.header}">
        <h2>{data.header}</h2>
    </f:if>
    <div class="ud-textmedia-grid">
        <div class="ud-textmedia-grid__copy">
            <div class="ud-prose">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
        <div class="ud-textmedia-grid__media">
            <f:for each="{files}" as="file">
                <f:image image="{file}" loading="lazy" class="ud-media" />
            </f:for>
        </div>
    </div>
</article>

</html>
